/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 4, 2020, 6:56:25 PM
    Author     : LENOVO
*/
body,html {
    width: 100%;
    height: 100%;
}
body
{
 max-width:1000px;
 margin:0;
 padding:0;
 color: #000;
 background: #ffffff;
 font-family: 'Roboto', sans-serif;
 font-size: 20px;
}

div{
    margin-top: 5px;
    padding: 10px;
}
p{
    text-align: justify;
    text-justify: inter-word;
}
h3{
    font-weight: 900;
}
img{
    max-width: 100%; 
    height: auto;
    vertical-align: middle;
}
table{
    border-collapse: collapse;
    width: 100%;
}

th,td {
    padding:15px;
    border: 1px solid #a4a4a4;
    height: 30px;
}

th {
    text-align: left;
    background-color: #ececec;
}
nav{
    margin:0;
    padding: 0;
    overflow: hidden;
}
ul{
    list-style-type: none;
}
li a{
    display: block;
    color:#666;
    padding: 14px 16px;
    text-decoration: none;
    float:right;
}
input{
    padding: 14px 70px;
    font-size: 15px;
    margin-bottom: 30px;
}

.left{
    float:left;
}
.right{
    float:right;
}
.box{
    display: inline-block;
    width:50%;
    float:left;
}
.list_box{
    width:100%;
    overflow:hidden;
}
.container{
    padding:20px;
    margin:auto;
    width:100%;
    overflow-x: hidden;
}
@media (min-width:320px) {  .container {
                                width: 320px;
                            } }
@media (min-width:481px) {   .container {
                                 width: 481px;
                             } }
@media (min-width:641px) {   .container {
                                 width: 641px;
                             } }
@media (min-width:961px) {   .container {
                                 width: 961px;
                             } }
@media (min-width:1000px) {  .container {
                                 width: 1000px;
                             } }

@media (max-width:481px) { 
    .box {
        width:100%;
    } 
    #image{
        width:100%;
    }
    h2{
        text-align: center;
    }
}
@media (max-width:1000px){
    .thumbnail{
        margin:30px;
    }
}
@media (max-width:961px){
    #background_image {
        background: url(./img/bat_cover_md.jpg);
    }
}
    

.logo{
    float:left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
}
.thumbnail {
    display: inline-block;
    height: auto;
    padding: 4px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #a4a4a4;
    text-align: center;
    color: #666;
    margin: 50px;
}
#image{
    float:left;
    padding: 0px 20px 20px 0px;
}
#identity{
    overflow:auto;
}
#header {
    padding: 5px 0px;
    color:#403F3F;
    text-align:center;
    margin: auto;
    border-bottom: 1px solid;
}
#background-image{
    background-image:url("img/bat_cover.jpg");
    height:350px;
    padding-top:50px;
    color: #fff;
    margin-top: 25px;
    margin: auto;
}
#content{
    background-color: rgba(0,0,0,0.7);
    max-width: 450px;
    padding: 30px 20px;
    margin-top: 50px;
}
#villians{
    overflow:auto;
}
#subscribe {
    border: none;
    background-color: #26211f;
    color: white;
    font-size: 16px;
    margin: 4px -4px;
    padding: 16px 40px;
}
